* {
  margin: 0;
  border: 0;

  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
}

a::after {
  content: ""
}

/* temp */

.interactiveElement {
  background: gray;
}

.interactiveElement:hover {
  background: black;
}

/* */

#center{
  min-width: 300px;
}

<<<<<<< HEAD
=======
.info {
  min-height: 25px;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;

  text-align: center;
  line-height: 25px;
}
>>>>>>> 7e4a6ff1a9c8221ced67c4fec79d519b2c6c40be

#output {
  height: 275px;
  overflow: hidden;
}

#output * {

}

#fieldLabels {
  width: 50%;
  float: left;
}

#fieldLabels * {
  height: 25px;
  vertical-align: center;
  text-align: center;
  line-height: 25px;
}

.slider {
  margin-left: -1px;

  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 25px;
  margin: 0;

  float: right;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 100%;
  background: white;
}

<<<<<<< HEAD
.info {
  min-height: 25px;
  width: 100%;
  margin-bottom: 5px;
  overflow: hidden;

  text-align: center;
  line-height: 25px;
}

=======
>>>>>>> 7e4a6ff1a9c8221ced67c4fec79d519b2c6c40be

#generate {
  width: 100%;
  height: 50px;

  outline: none;

  text-align: center;
  line-height: 25px;

  margin-bottom: 5px;

}

.colorBox {
  width: 100px;
  height: 100%;
  float: right;

}

.field {
  height: 25px;
  margin-bottom: 5px;
}

.field * {
  width: 50%;
}

.label {
  height: 100%;
  text-align: center;

  float: left;
}

.topBorder {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottomBorder {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}

.rightBorder {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.leftBorder {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.fullBorder {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}
